python==3.12.*

ruff
mypy

jupyter

numpy
scipy
pandas

scikit-learn
scikit-image
pymatgen

matplotlib
seaborn

graphviz
python-graphviz

# pytorch関連
pytorch
torchvision
torchaudio
pytorch-cuda==12.4

skorch
botorch
